
@media screen (min-width: 768px) {

#container, .icoon{
    top: 28%;
    left: 50%;
    width: 20px;
    height: 20px;
}

.banner{
    width: 50px;
    height: 400px;
}

.banner h1{
    margin-top:80px;
}
    
button{
    padding: 20px;
    width: 80%;
}
    
#indexbtn1{
    left: 10%;
    top: 60%;
}    

.banner p{
    margin: 10px; 
}
  
#lblnaam{
    margin-left: 50px;
} 

#lbldatum{
    margin-left: 50px;
}

input[type="text"] {
    margin-left: 50px;
}


input[type="date"] {
    margin-left: 50px;
}

input[type="radio"] {
    margin-left: 50px;
}

input[type="submit"]{
    width: 500px;
    height: 60px;
    margin-left: 90px;

}

#mainform{
    margin-left: 360px;
}

.site-wrap {
    background-image: url(../images/banner2.png);
}
    
img.storyicoon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;

}
     
  }



    
       
      