/* ---------------- ALGEMEEN ----------------*/

@font-face {
    font-family: 'robotomedium';
    src: url('Roboto-Medium-webfont.eot');
    src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Medium-webfont.woff2') format('woff2'),
         url('Roboto-Medium-webfont.woff') format('woff'),
         url('Roboto-Medium-webfont.ttf') format('truetype'),
         url('Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color: #489DF9;
     font-family: 'robotomedium' , sans-serif;
}

#container, .indeximg{
	background-color: #F5683D;
	width:80%;
	z-index:-1;
}

p{
    font-family: 'robotomedium', sans-serif;
    font-size: 20px;
    text-align: center;
     color: white;
}
#container{
	margin: 100px auto 0 auto;
	padding:50px;
	min-height: 500px;
}

h1,h2{
    text-align: center;
	color:white;
}

h1{
    font-size: 30px;
    margin: 30px;
}

h2{
	font-size: 20px;
    margin: 70px 0 10px 0;
}

p,a, label{
	color:black;
	display: block;
}
nav{
	max-width:340px;
	width:100%;
	margin: 0 auto 0 auto;
}

.bol {
  display: block;
  margin: -115px auto 50px auto;
}


/* ---------------- INDEXPAGE ----------------*/

nav{
	background-color: yellow;
}

nav ul li{
	display: inline-block;
	height:62px;
	width:62px;
	border:7.5px solid white;
	text-align: center;
	margin: 0;
}

nav img{
	margin-top: 10px;
	height:35px;
	display:inline-block;
}

/* ---------------- INDEXPAGE ----------------*/

button{
    padding: 15px;
    width: 50%;
    border: none;
    background-color: #45619d;
    color: white;
    font-family: 'robotomedium' , sans-serif;
    font-size: 2.5vh;
}

h1{
	font-size: 30px;
	color:white;
	font-weight: 100;
	text-align: center;
	margin-bottom: 20px;
}

form{
    margin-top: 20px;
}

.formblok {
  margin-bottom: 20px;
  color:white;
}

input {
  font-size: 15px;
  width: 46%;
  padding: 5px;
  height: 20px;
  margin: 5px;
}

.login{
    margin-right: auto;
    margin-left:auto;
    display:block;
}

.indexbtn, button {
  margin-left: 25%;
  margin-top: 20px;
}
#fbbtn{
margin-top: 30px
}

#indexbtn1, #indexbtn2 {
  background-color: #489DF9;
}



/* ---------------- FORMS : LOGIN, REGISTER; ----------------*/

.formblok {
  margin-bottom: 20px;
}

input{
    display:inline-block;
    margin: 1%;
    height:25px;
    width:45%;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
}

.subbtn{
    text-align: center;
}

nav img{
    margin-top: 10px;
    height:35px;
    display:inline-block;
}

#toevoegenbtn{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color:  #F5683D;
    border: 3px;
    border-style: dashed;
    font-size: 8vh;
    text-align: center;
    margin-left: 280px;
    margin-top: 80px;
}

#spelertoevoegenbtn{
    width: 400px;
    height:65px;
    background-color: white;
    font-family: 'robotomedium', sans-serif;
    color: #F5683D;
    font-size: 35px;
       
}


.spelerlbl{
    font-family: 'robotomedium' , sans-serif;
    font-size: 22px;
    color: white;
    position: relative;
    text-align: center;
    margin-left: 98px;
}



input[type="text"], input[type="date"], input[type="password"]  {
    margin-top: 15px;
    border: none;
}

input[type="radio"] {
    position: relative;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    color:white;
}

input[type="submit"]{
    background-color: white;
    border: none;
    font-family: 'robotomedium' , sans-serif;
    color: #F5683D;
    font-size: 35px;
    /*width: 579px;*/
    width:50%;
    height: 60px;
    margin-left: 25%;
    margin-top: 20px;
}

/*#mainform{
    position: relative;
    margin-top: -370px;
    margin-left: 416px;
}*/

/*BEGIN HAMBURGER*/
.navigation {
    list-style: none;
    background: #F5683D;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    font-family: 'robotomedium' , sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-top: 110px;
    }

img.profiel{
    height: 100px;
    width: 100px;
}

.navigation .nav-item{
    background-color: white;
    height: 80px;
    margin-top: 20px; 
}

.navigation .nav-item a{
    text-decoration: none;
    color: #F5683D;
    padding: 0.5em 1em 0.5em 1.5em;
    position: absolute;
    margin-top: 12px;
}

/*EINDE HAMBURGER*/

img.storyicoon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;

}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}


label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
}

label[for="nav-trigger"] {
    /* ... previous styles here... */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 415px;
}
 
.nav-trigger:checked ~ .site-wrap {
    left: 400px;
}

/*EINDE HAMBURGER*/

.story{
    font-family: 'robotomedium', sans-serif;
    font-weight:100;
    color: #F5683D;
    margin-top: 25px;
    font-size: 40px;
}

.verhalen{
    position: relative;
}

/*BEGIN VERHAAL1*/

#verhaal1{
    width: 822px;
    height: 100px;
    background-color: #F5683D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#verhaal1 h1{
    font-family: 'robotomedium', sans-serif;
    font-weight: 100;
    position: absolute;
    top: 50%;                         
    transform: translate(50%, -50%);
    
}

img.foto{
    width: 100px;
    height: 80px;
    position: absolute;
    top: 50%;                         
    transform: translate(22%, -50%);
}


#btn1{
    width: 100px;
    height: 35px;
    background-color: #5ebc4b;
    font-family: 'robotomedium', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    line-height: 8px;
    position: absolute;
    top: 50%;                         
    transform: translate(700%, -50%);
    float: right;
}

/* EINDE VERHAAL1*/


/*BEGIN VERHAAL2*/
#verhaal2{
    width: 822px;
    height: 100px;
    background-color: #F5683D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#verhaal2 h1{
    font-family: 'robotomedium', sans-serif;
    font-weight: 100;
    position: absolute;
    top: 50%;                         
    transform: translate(25%, -50%);
    
}

#btn2{
    width: 100px;
    height: 35px;
    background-color: #415e9b;
    font-family: 'robotomedium', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    line-height: 8px;
    position: absolute;
    top: 50%;                         
    transform: translate(700%, -50%);
    float: right;
}

/*EINDE VERHAAL2*/


/*BEGIN VERHAAL2*/
#verhaal3{
    width: 822px;
    height: 100px;
    background-color: #F5683D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#verhaal3 h1{
    font-family: 'robotomedium', sans-serif;
    font-weight: 100;
    position: absolute;
    top: 50%;                         
    transform: translate(90%, -50%);
    
}

#btn3{
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    font-family: 'robotomedium', sans-serif;
    font-weight: 100;
    color: #F5683D;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    line-height: 8px;
    position: absolute;
    top: 50%;                         
    transform: translate(700%, -50%);
    float: right;
}

/*EINDE VERHAAL3*/

/*BEGIN VERHAAL4*/
#verhaal4{
    width: 822px;
    height: 100px;
    background-color: #F5683D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#verhaal4 h1{
    font-family: 'robotomedium', sans-serif;
    font-weight: 100;
    position: absolute;
    top: 50%;                         
    transform: translate(48%, -50%);
}
/*EINDE VERHAAL4*/
.site-wrap {
    position: relative;
    top: 0;
    left: 0;
    padding: 4em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    background-size: 100%;
    height: 840px;
}

#jungle{
    background-image: url(../images/jungleBG.png);
}

#challenge{
    background-image: url(../images/banner.png);
    background-position: top;
}

.omschrijving{
    font-family: 'robotomedium' sans-serif;
    font-weight: 100;
    font-size: 55px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    color: white;
    margin-top: 50px;
    position: relative;
    text-align: center; 
}

.titel{
    font-family: 'robotomedium' sans-serif;
    font-weight: 100;
    font-size: 65px;
    
}

#start{
    background-color: #489DF9;
    font-family: 'robotomedium' sans-serif;
    font-size: 30px;
    position: absolute;
    top:60%;
    left: 15%;
    width: 350px;
    height: 60px;
    color: white;   
}

.wachtwoord{
    width: 338px;
    height: 40px;
    font-family: 'robotomedium', sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    position: absolute;
    left:40%;
    top:52%;
}

.bananen{
    display: inline-block;
    position: relative;
    left: 27%;
    margin-top: 120px;
}

.banaan{
    width: 80px;
    height: 100px;
}





